<img src="./ricks_records.jpg"</img>
<div class="index_buttons">
    <form method="get" action="/artists">
      <button type="submit">Show artists</button>
    </form>
    <form method="get" action="/artist/new">
      <button type="submit">Add new artist</button>
    </form>
    <form method="get" action="/album/new">
      <button type="submit">Add new album</button>
    </form>
</div>

<h3 id="stock_counter">You have <%= @stock %> items in stock</h3>

<table class="tables">
<tr>
  <th>Artist name</th>
  <th>Abum title</th>
  <th>Genre</th>
  <th>Sell price</th>
  <th>Stock level</th>
  <th>Album info</th>
</tr>
<tr>
<% @albums.each do |album| %>
<td><%=album.artist.name%></td>
<td><%=album.title%></td>
<td><%=album.genre%></td>
<td><%=album.sell_price.to_i%> £</td>
<td class="<%=album.stock_css%>"><%=album.stock_level%></td>
<td>
  <form method="get" action="/albums/<%= album.id %>">
    <button type="submit">Album info</button>
  </form>
</td>
</tr>
  <% end %>
</table>
