<table>
  <tr>
    <form method="get" action="/artists">
      <button type="submit">Show artists</button>
    </form>
  </tr>
  <tr>
    <form method="get" action="/artist/new">
      <button type="submit">Add new artist</button>
    </form>
  </tr>
  <tr>
    <form method="get" action="/album/new">
      <button type="submit">Add new album</button>
    </form>
  </tr>
</table>
</nav>

<p>You have <%= @stock %> items in stock</p>

<table class="tables">
<tr>
  <th>Artist name</th>
  <th>Abum title</th>
  <th>Genre</th>
  <th>Sell price</th>
  <th>Stock level</th>
</tr>
<tr>
<% @albums.each do |album| %>
<td><%=album.artist.name%></td>
<td><%=album.title%></td>
<td><%=album.genre%></td>
<td><%=album.sell_price.to_i%>
<td class="<%=album.stock_css%>"><%=album.stock_level%></td>
<td>
  <form method="get" action="/albums/<%= album.id %>">
    <button type="submit">Album info</button>
  </form>
</td>
</tr>
  <% end %>
</table>
