<form method="get" action="/artists">
<button type="submit">Show artists</button>
</form>
<form method="get" action="/artist/new">
<button type="submit">Add new artist</button>
</form>
<form method="get" action="/album/new">
<button type="submit">Add new album</button>
</form>
<p>You have <%= @stock %> items in stock</p>
<form method="get" action="/inventory">
<button type="submit">Check inventory</button>
</form>

<table>
<tr>
  <th>Artist name</th>
  <th>Abum title</th>
  <th>Album quantity</th>
  <th>Sell price</th>
  <th>Stock level</th>
</tr>
<tr>
<% @albums.each do |album| %>
<td><%=album.artist.name%></td>
<td><%=album.title%></td>
<td><%=album.quantity%></td>
<td><%=album.sell_price.to_i%>
<td><%= album.stock_level%></td>
</tr>
  <% end %>
</table>
